# Maven/Gradle
target/
build/

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Compiled
*.class
*.jar
*.war

# Docs/Reports
*.docx
*.pdf
*.doc

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
